@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
  margin: 0;
  padding: 0;
  border-box: box-sizing;
}


body{
  width: auto;
  height: auto;
  background: #9b8055;
}

.container{
  width: 80rem;
  height: 50rem;
  margin: 1rem auto;
  border-radius: 15px;
  padding: 10px;
}

.nav{
  width: 100%;
  height: 450px;
  background-color:hsla(236,87%,7%,1);
background-image:
radial-gradient(at 14% 71%, hsla(189,81%,22%,0.14) 0px, transparent 50%),
radial-gradient(at 78% 18%, hsla(189,81%,23%,0.43) 0px, transparent 50%);
  display: flex;

}



.left-side{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}

.left-side h1{
  margin-top: 8rem;
  margin-bottom: 20px;
  color: #dddddd;
  font-family: 'Play';
  font-weight: 700;
  font-size: 50px;
}

.left-side h5{
    color: #dddddd;
  font-family: 'Play';
  font-weight: 700;

}

strong{
  color: #947f51;
}

.options{
  width: 44rem;
  height: 8rem;
  margin: 5rem auto;
  border-radius: 10px;
  background: whitesmoke;
  backdrop-filter: blur(4px);
  
}

.categories{
  width:15rem;
  height: 3rem;
  margin-top: -2rem;
  background: whitesmoke;
  border-radius: 10px 10px 0 0;
}

.categories ul{
   display: flex;
  flex-direction: row;
  list-style-type: none;
  color: #dddddd;
}

.categories li{
  width: 4rem;
  height: 1.5rem;
  margin: .5rem auto;

  color: hsla(236,87%,7%,1);
  font-family: 'Play';
  cursor: pointer;
}

.categories li.selected{
  background: #9b8055;
}

.search{
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
  display: flex;
}

.search ul{
   display: flex;
  flex-direction: row;
  list-style-type: none;
 
}

.search ul li{
  margin: 10px;
   color: hsla(236,87%,7%,1);
  font-family: 'Play';
}

.search input{
  border: none;
  outline: none;
  border-radius: 10px;
  background: hsla(236,87%,7%,.08);
  height: 2rem;
  color: hsla(236,87%,7%,1);
  margin: .2rem;
  padding-lefT: 5px;
}

.search button{
  width: 6rem;
  height: 2rem;
  border: none;
  font-family: 'Play';
  margin: 2rem auto;
  border-radius: 10px;
  cursor: pointer;
  background: #9b8055;
}

.logo{}

.right-side{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.links{
  display: flex;
  position: absolute;
  right: 15%;
  width: 40rem;
}

.links ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: #dddddd;
  margin-right: 2rem;
}

.links li{
  display: flex;
  flex-direction: row;
  font-family: 'Play';
  margin: 20px;
  cursor: pointer;
}


.links button{
  background: #9b8055;
  border: none;
  width: 8rem;
  height: 2rem;
  border-radius: 10px;
  color: #dddddd;
  font-family: 'Play';
  margin: 15px;
  cursor: pointer;
}

#nav-photo{
  width: 25rem;
  height: 30rem;
  margin: 5rem auto;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  z-index: 1;
}
main{
  width: 100%;
  height: 450px;
 background:#c1ae8f;
  padding-top: 20px;
}

main h2{
  text-align: center;
  font-family: 'Play';
  font-weight: 700;
  color: hsla(236,87%,7%,1);
}

.models{
  width: 60rem;
  height: auto;
  margin: 1rem auto;
  display: flex;
}

.card{
  width: 18rem;
  height: 20rem;
  background: hsla(236,87%,7%,1);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  align-items: center;
  text-align: center;
  margin: 1rem 2rem;
}

.card::before {
  content: '';
  position: absolute;
  top: -30%;
  width: 100%;
  height: 80%;
  background: #947f51;
  transform: skewY(345deg);
  transition: 0.5s;
  
}

.card:hover::before {
  transform: skewY(390deg);
}

#home-models{
  width: 100%;
  height: 10rem;
  border-radius: 10px 10px 0 0;
  z-index: 10;
  transform: scale(1);
}

.card:hover #home-models{
  transform: scale(1.5);
}



.card h3{
  color: #dddddd;
  font-family: 'Play';
  font-weight: bold;
  margin: 2rem auto;
}

.card button{
  width: 8rem;
  height: 2rem;
  margin: 1rem auto;
  border: none;
  border-radius: 20px;
  font-family: 'Play';
  background: rgba(255, 255, 255, 0.3);
  color: #dddddd;
  cursor: pointer;
  backdrop-filter: blur(5px);
  position: relative;
  top: 250px;
  transition: 0.5s;
  opacity: 0;
  
}

.card:hover button{
  top: 0;
  opacity: 1;
}
